.full-post {
    width: 80%;
    margin: 0 auto 20px auto;
    border: 1px solid #eeeeee;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    padding: 0 20px 20px 20px;
}

.full-post p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}