form {
    padding: 50px;
}

form legend {
    margin-bottom: 30px;
}

form label,
form label {
    display: block;
    margin-bottom: 30px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
}

form input {
    height: 50px;
}

form button {
    width: 300px;
    display: block;
    margin: 0 auto;
    height: 50px;
}

